<p id="expand-collapse-all">
    <a href="" ng-click="expandAll()">Expand all</a>
    <a href="" ng-click="collapseAll()">Collapse all</a>
</p>

<ul frang-tree>
  <li frang-tree-repeat="node in treeData" frang-tree-drag="{node: node, parent: $parent.node}"
                                           frang-tree-drop="drop(node, dragData.node, dragData.parent)"
                                           frang-tree-allow-drop="node.label.substring(0, 6) == 'Folder'">
      <div><span class="icon"
                 ng-class="{collapsed: node.collapsed, expanded: !node.collapsed}"
                 ng-show="node.children && node.children.length > 0"
                 ng-click="node.collapsed = !node.collapsed"></span>
           <span class="label"
                 ng-class="{folder: node.children && node.children.length > 0}"
                 ng-bind="node.label"
                 ></span>
      </div>
      <ul ng-if="!node.collapsed && node.children && node.children.length > 0"
          frang-tree-insert-children="node.children"></ul>
  </li>
</ul>

